@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 1150px) {
  body {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    min-height: 100vh;
  }
}
html,
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Raleway", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #37ecba 0%, #72b6d3 100%);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  color: white;
  hyphens: manual;
  letter-spacing: 0.5px;
  line-height: 32px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --header-height: 3.5rem;
  --title-color: hsl(0, 0%, 95%);
  --highlight-color: rgb(11, 131, 85);
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-size: 1.25rem;
}
