.app {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  height: 100%;
  margin-top: 150px;
  /* margin-left: 50px; */
  /*  margin-right: 50px; */
}

@media (max-width: 1150px) {
  .content {
    margin-top: 80px;
  }
}
