.content {
  display: flex;
  padding: 0rem 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #393939;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  line-height: 1.5em;
}

.waypointCard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
