.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 0 8rem;
}

.plusIcon {
  border: dashed 2px rgb(30, 87, 120);
  justify-content: center;
}

.initial {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.1;
}

.form {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1rem;
}
/* .box {
  display: flex;
  flex-direction: column;
  background-color: blue;
  border: solid 2px black;
  border-radius: 8px;
  width: 15rem;
  padding: 1rem;
} */

button {
  all: unset;
}

button:focus {
  outline: revert;
}

.italicText {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.1rem;
  padding-left: 0.8rem;
}
